[submodule "External/SonicAudioTools"]
	path = External/SonicAudioTools
	url = https://github.com/Foahh/SonicAudioTools.git
[submodule "External/muautils"]
	path = External/muautils
	url = https://github.com/Foahh/muautils
[submodule "External/vgaudio"]
	path = External/vgaudio
	url = https://github.com/Foahh/vgaudio
