<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>false</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PenguinToolsEmbedInfrastructureAssets>false</PenguinToolsEmbedInfrastructureAssets>
        <PenguinToolsPublishInfrastructureAssets>true</PenguinToolsPublishInfrastructureAssets>
        <PenguinToolsCreateZipPackage>true</PenguinToolsCreateZipPackage>
        <PublishDir>bin\Release\net10.0-windows\publish\WinX64-Zip-ExternalAssets\</PublishDir>
        <PenguinToolsPublishZipPath>bin\Release\net10.0-windows\publish\PenguinTools-win-x64-external-assets.zip</PenguinToolsPublishZipPath>
    </PropertyGroup>
</Project>
