<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <PublishSingleFile>true</PublishSingleFile>
        <SelfContained>true</SelfContained>
        <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
        <PenguinToolsEmbedInfrastructureAssets>false</PenguinToolsEmbedInfrastructureAssets>
        <PenguinToolsPublishInfrastructureAssets>true</PenguinToolsPublishInfrastructureAssets>
        <PenguinToolsCreateZipPackage>true</PenguinToolsCreateZipPackage>
        <PublishDir>bin\Release\net10.0\publish\LinuxX64-Zip-SelfContained\</PublishDir>
        <PenguinToolsPublishZipPath>bin\Release\net10.0\publish\PenguinTools.CLI-linux-x64.zip</PenguinToolsPublishZipPath>
    </PropertyGroup>
</Project>
