<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <PublishSingleFile>true</PublishSingleFile>
        <SelfContained>false</SelfContained>
        <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
        <PenguinToolsEmbedInfrastructureAssets>true</PenguinToolsEmbedInfrastructureAssets>
        <PublishDir>bin\Release\net10.0\publish\WinX64-FrameworkDependent-SingleFile-EmbeddedAssets\</PublishDir>
    </PropertyGroup>
</Project>
