<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <PublishSingleFile>true</PublishSingleFile>
        <SelfContained>true</SelfContained>
        <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <PenguinToolsEmbedInfrastructureAssets>true</PenguinToolsEmbedInfrastructureAssets>
        <PublishDir>bin\Release\net10.0\publish\WinX64-SelfContained-SingleFile-EmbeddedAssets\</PublishDir>
    </PropertyGroup>
</Project>
