<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <PublishSingleFile>true</PublishSingleFile>
        <SelfContained>true</SelfContained>
        <PenguinToolsEmbedInfrastructureAssets>false</PenguinToolsEmbedInfrastructureAssets>
        <PublishDir>bin\Release\net10.0\publish\WinX64-SelfContained-SingleFile-ExternalAssets\</PublishDir>
    </PropertyGroup>
</Project>
